<?xml version="1.0"?>
<config>
    <modules>
        <CeicomExtends_IBanners>
            <version>0.1.0</version>
        </CeicomExtends_IBanners>
    </modules>
    <global>        
        <blocks>
            <ceicomextends_ibanners>
                <class>CeicomExtends_IBanners_Block</class>
            </ceicomextends_ibanners>
        </blocks>
        <models>
            <ceicomextends_ibanners>
                <class>CeicomExtends_IBanners_Model</class>
            </ceicomextends_ibanners>
            <ibanners_mysql4>
                <rewrite>
                    <banner_collection>CeicomExtends_IBanners_Model_Mysql4_Banner_Collection</banner_collection>
                    <group>CeicomExtends_IBanners_Model_Mysql4_Group</group>
                </rewrite>
            </ibanners_mysql4>
        </models>        
        <helpers>
            <ceicomextends_ibanners>
                <class>CeicomExtends_IBanners_Helper</class>
            </ceicomextends_ibanners>
        </helpers>
        <resources>
            <ceicomextends_ibanners_setup>
                <setup>
                    <module>CeicomExtends_IBanners</module>
                </setup>
            </ceicomextends_ibanners_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ceicomextends_ibanners>
                    <file>ceicomextends/ibanners.xml</file>
                </ceicomextends_ibanners>
            </updates>
        </layout>
        <translate>
            <modules>
                <CeicomExtends_IBanners>
                    <files>
                        <default>CeicomExtends_IBanners.csv</default>
                    </files>
                </CeicomExtends_IBanners>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <ceicomextends_ibanners_adminhtml_block_html_before>
                        <type>singleton</type>
                        <class>CeicomExtends_IBanners_Model_Observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </ceicomextends_ibanners_adminhtml_block_html_before>
                </observers>
            </adminhtml_block_html_before>
            <controller_action_predispatch_adminhtml_iBanners_banner_save>
                <observers>
                    <ceicomextends_ibanners_predispatch_adminhtml_banner_save>
                        <type>singleton</type>
                        <class>CeicomExtends_IBanners_Model_Observer</class>
                        <method>bannerSaveBefore</method>
                    </ceicomextends_ibanners_predispatch_adminhtml_banner_save>
                </observers>
            </controller_action_predispatch_adminhtml_iBanners_banner_save>            
        </events>
        <translate>
            <modules>
                <CeicomExtends_IBanners>
                    <files>
                        <default>CeicomExtends_IBanners.csv</default>
                    </files>
                </CeicomExtends_IBanners>
            </modules>
        </translate>
    </adminhtml>
</config>