<?xml version="1.0"?>
<config>
    <modules>
        <CeicomExtends_CBanners>
            <version>0.1.1</version>
        </CeicomExtends_CBanners>
    </modules>
    <global>
        <helpers>
            <cbanners>
                <class>CeicomExtends_CBanners_Helper</class>
            </cbanners>
        </helpers>
        <models>
            <cbanners>
                <class>CeicomExtends_CBanners_Model</class>
            </cbanners>
        </models>
        <blocks>
            <ibanners>
                <rewrite>
                    <adminhtml_banner_edit>CeicomExtends_CBanners_Block_Adminhtml_Banner_Edit</adminhtml_banner_edit>
                    <adminhtml_banner_edit_tab_form>CeicomExtends_CBanners_Block_Adminhtml_Banner_Edit_Tab_Form</adminhtml_banner_edit_tab_form>
                    <adminhtml_group_edit_tab_form>CeicomExtends_CBanners_Block_Adminhtml_Group_Edit_Tab_Form</adminhtml_group_edit_tab_form>
                </rewrite>
            </ibanners>
            <cbanners>
                <class>CeicomExtends_CBanners_Block</class>
            </cbanners>
        </blocks>
         <resources>
            <cbanners_setup>
                <setup>
                    <module>CeicomExtends_CBanners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cbanners_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <arena>
                    <file>ceicomextends/cbanners.xml</file>
                    <!-- path to your layout file -->
                </arena>
            </updates>
        </layout>
    </frontend>
</config>
